<div class="border-form-div">
  <h2>Sign in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.email_field :email, autofocus: true, placeholder: 'Email address' %>
    <%= f.password_field :password, placeholder: 'Password' %>
    <%= f.submit "Sign in", class: 'btn btn-primary' %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>