<div class="border-form-div">
  <h2>New job opening</h2><% if job_opening.errors.any? %>
    <div class="alert alert-danger">
      <div>Error</div>
      <ul>
      <% job_opening.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for(job_opening, as: job_opening) do |f| %>
    <%= f.text_field :title, autofocus: true, placeholder: 'Title' %>
    <%= f.text_field :description, placeholder: 'Description' %>
    <%= f.submit "Create", class: 'btn btn-primary' %>
  <% end %>
</div>