<div class="container">
	<div class="page-header">
		<h1>Job Openings</h1>
	</div>
	<% if @current_user.employer? %>
		<div class="pull-right"><%= link_to 'Create new opening', new_job_opening_path, class: 'btn btn-success' %></div>
	<% end %>
	<% if @job_openings.any? %>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Title</th>
					<th>Description</th>
					<% if @current_user.candidate? %>
						<th>Employer</th>
					<% end %>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				<% @job_openings.each do |job_opening| %>
					<tr>
						<td><%= job_opening.title %></td>
						<td><%= job_opening.description %></td>
						<% if @current_user.candidate? %>
							<td><%= job_opening.employer.name %></td>
							<td>
								<% if @current_user.candidate.applied_to?(job_opening) %>
									<span class="btn btn-default disabled btn-block">Applied</span>
								<% else %>
									<%= link_to 'Apply', job_applications_path(job_opening_id: job_opening.id), method: :post, class: 'btn btn-success btn-block' %>
								<% end %>
							</td>
						<% end %>
						<% if @current_user.employer? %>
							<td><%= link_to 'Show candidates', job_opening_path(job_opening), class: 'btn btn-info btn-block' %><td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% else %>
		<div>There are no job openings</div>
	<% end %>
</div>