<div class="container">
  <div class="page-header">
		<h1>Candidates</h1>
  </div>
  <p>Hi @<%= @current_user.employer.name %>, here are you candidates for '<%= @job_opening.title %>'</p>
  <div class="panel panel-default">
    <div class="panel-body">
      <% if @job_opening.candidates.any? %>
        <% @job_opening.candidates.each do |candidate| %>
          <hr />
          <div>Name: <%= "#{candidate.first_name} #{candidate.surname}" %></div>
        <% end %>
        <hr />
      <% else %>
        <div>There are no candidates 😭</div>
      <% end %>
    </div>
    <div class="panel-footer">
      <%= link_to 'Back', job_openings_path %>
    </div>
  </div>
</div>
