<!DOCTYPE html>
<html>
  <head>
    <title>Fountain</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div class="container-narrow">
    <div class="masthead">
      <%= render 'layouts/user_header' %>
      <h3 class="muted"><%= link_to "Fountain", root_path %></h3>
    </div>
    <hr />
    <% flash.each do |key, value| %>
			<div class="<%= flash_class(key) %>">
				<%= value %>
			</div>
		<% end %>
    <%= yield %>
  </div>
  </body>
</html>
